/* Base styles */
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

/* Light and Dark Mode Styles */
.dark {
  background-color: var(--dark);
  color: var(--light);
}

.light {
  background-color: var(--light);
  color: var(--dark);
}

/* Toggle Button Styles */
#toggleMode {
  font-size: 1.5em; /* Adjust size of the button */
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-sun, .icon-moon {
  display: none; /* Hide icons initially */
}

.dark #toggleMode .icon-sun {
  display: none; /* Hide sun icon in dark mode */
}

.dark #toggleMode .icon-moon {
  display: inline; /* Show moon icon in dark mode */
}

.light #toggleMode .icon-sun {
  display: inline; /* Show sun icon in light mode */
}

.light #toggleMode .icon-moon {
  display: none; /* Hide moon icon in light mode */
}

/* Form Styles */
form {
  max-width: 400px;
  margin: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}


